body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container, .wrapper{
  margin: 0 auto;
}

.container {
  width: 70%;
  padding: 30px 0;
}

.wrapper {
  padding: 30px;
  background-image: linear-gradient(180deg, rgb(217, 77, 138), #f3f372);
}

.wrapper,
input,
.userBlock {
  border-radius: 2px;
}

.userBlockSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 30px;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ffffff;
  outline: none;
  background-color: #ffff;
  margin: 15px 0px;
}

::placeholder {
  font-size: 14px;
  color: #ccc;
}

.userBlock {
  display: flex;
  align-items: center;
  padding: 7px 20px 7px 10px;
  margin-bottom: 10px;
  background: white;
  gap: 10px;
}


img {
  width: 45px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

.userDetails p {
  font-size: 11px;
  margin: 0 0 2px;
  color: #7a7f85;
}

.userProfile {
  font-weight: 700;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}